body { 
    background: #f4f4f4; 
    font-family: sans-serif; 
    box-sizing: border-box;
}
h1 { 
    text-align: center; 
}

#gameArea { 
    width: 900px; 
    height: 900px;
    margin: 0px auto 0; 
    background-color: burlywood;
    position: relative;
    border: 30px solid blue;
}

#player{
    background-color: red;
    position: absolute;
    height:30px;
    width:30px;
    left:0px;
    top:0px;
    z-index: 1;
}

.wall{
    position: absolute;
    background-color: blue;
}

#hud{
    display:none;
}

#finish{
    position: absolute;
    background-color:black;
}




@media (max-width: 1000px){

    #player{
        height:20px;
        width:20px;
    }

    #gameArea { 
        width: 600px; 
        height: 600px;
        margin: 0px auto 0; 
        background-color: burlywood;
        position: relative;
        border: 20px solid blue;
    }

    #hud{
        margin:0 auto;
        width:60vw;
        display:flex;
        flex-direction: row;
    }
    
    .move-btn{
        position: relative;
        flex: auto;
        margin: 10px;
        width:25px;
        height:auto;
        border:10px solid black;
        text-align: center;
    }

    .move-btn:focus{
        border-color:#56373A;
        background-color: #6d93aa;
    }
    
    .move-btn::before {
        content: "";
        float: left;
        padding-top: 100%;
    }
    
    #up::after,
    #down::after,
    #left::after,
    #right::after
    {
        position: absolute;
        top:50%;
        left:50%;
        font-size: 2rem;
        transform: translate(-50%, -50%);
    }

    #up::after{content: "UP";}
    #down::after{content: "DOWN";}
    #left::after{content: "LEFT";}
    #right::after{content: "RIGHT";}

}


