body { 
    background: #f4f4f4; 
    font-family: sans-serif; 

}
h1 { 
    text-align: center; 
}

.container { 
    max-width: 1000px; 
    margin: 20px auto 0; 
    background-color: blueviolet;
}

.grid-item { 
    color: #fff; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    font-weight: bold; 
    font-size: 2rem; 
}

.grid{
    display:grid; 
    grid-template-columns: repeat(50, minmax(1px, 3px));
    grid-template-rows: repeat(50, minmax(3px, 3px));
    grid-gap:1px;
    background:black;
}

.wall{
    background-color: red;
    grid-column: 1/ 40;
}



