body { 
    background: #f4f4f4; 
    font-family: sans-serif; 
    box-sizing: border-box;
}
h1 { 
    text-align: center; 
}

#gameArea { 
    width: 900px; 
    height: 900px;
    margin: 0px auto 0; 
    background-color: burlywood;
    position: relative;
    border: 10px solid blue;
}

#player{
    background-color: red;
    position: absolute;
    height:30px;
    width:30px;
    left:0px;
    top:0px;
    
}

.wall{
    position: absolute;
    background-color: blue;
}



